<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Projet Bomberman</display-name>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.html</location>
  </error-page>
  
  
  <servlet>
  	<servlet-name>Accueil</servlet-name>
  	<servlet-class>Servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Accueil</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Connexion</servlet-name>
  	<servlet-class>Servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Connexion</servlet-name>
  	<url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Inscription</servlet-name>
  	<servlet-class>Servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Inscription</servlet-name>
  	<url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Deconnexion</servlet-name>
  	<servlet-class>Servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Deconnexion</servlet-name>
  	<url-pattern>/connecter/deconnexion</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Profil</servlet-name>
  	<servlet-class>Servlets.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Profil</servlet-name>
  	<url-pattern>/connecter/profil</url-pattern>
  </servlet-mapping>
  
  
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<include-prelude>/WEB-INF/taglib.jsp</include-prelude>
  	</jsp-property-group>
  </jsp-config>
</web-app>